<%- include("../includes/header.ejs", {title:"Add New account"}); %>

    <h1>Add New Account</h1>
    <form action="/account/insert" method="get">
        Username: <input id="username" name="username" type="text" />
        <br />
        <br />

        password: <input id="password" name="password" type="text" />
        <br />
        <br />

        level: <input id="level" name="level" type = "number" />
        <br />
        <br />
        influence points: <input id="influence_points" name="influence_points" type = "number" />
        <br />
        <br />
        riot points: <input id="riot_points" name="riot_points" type = "number" />
        <br />
        <br />
        division: <input id="rank_division" name="rank_division" type = "text" />
        <br />
        <br />
        tier: <input id="rank_tier" name="rank_tier" type = "number" />
        <br />
        <br />


        <br />
        <input type="submit" />

    </form>

<%- include("../includes/footer.ejs"); %>