<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/champion/all">Champions - View All</a> <br />
    <a href="/rune/all">Runes - View All</a> <br />
    <a href="/mastery/all">Masteries - View All</a> <br />
    <a href="/account/all">Accounts - View All </a> <br />
    <a href="/about/about">About</a> <br />

    <br />

<%- include("./includes/footer.ejs"); %>
