<%- include("../includes/header.ejs", {title:"Add New champion"}); %>

    <h1>Add New champion</h1>
    <form action="/champion/insert" method="get">
        champion Name: <input id="champion_name" name="champion_name" type="text" />
        <br />
        <br />
        Abilities
        <br />
        <select id="ability_id" name="ability_id" multiple="multiple">
            <% for(var i=0; ability.length > i; i++ ) { %>
                <option value="<%= ability[i].ability_id %>"><%= ability[i].name %></option>
            <% } %>
        </select>

        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#address_id').multiselect();
            });
        </script>


        <br />
        <input type="submit" />

    </form>

<%- include("../includes/footer.ejs"); %>