<%- include("../includes/header.ejs", {title:"Companies - " + result[0].champion_name}); %>
    <h1>Companies</h1>
    <ul>
        <li>champion Name: <%= result[0].champion_name %></li>
        <li>Address(es):
            <ul>
                <% for(var i=0; result.length > i; i++ ) { %>
                    <li><%= result[i].street + ', ' + result[i].zip_code %></li>
                <% } %>
            </ul>
        </li>
    </ul>

<a href="/champion/all"><< back</a>

<%- include("../includes/footer.ejs"); %>