<%- include("../includes/header.ejs", {title:"Add New champion"}); %>

    <h1>Add New champion</h1>
    <form action="/champion/insert" method="get">
        champion Name: <input id="champion_name" name="champion_name" type="text" />
        <br />
        <br />
        Address
        <br />
        <select id="address_id" name="address_id" multiple="multiple">
            <% for(var i=0; address.length > i; i++ ) { %>
                <option value="<%= address[i].address_id %>"><%= address[i].street + ', ' + address[i].zipcode %></option>
            <% } %>
        </select>

        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#address_id').multiselect();
            });
        </script>


        <br />
        <input type="submit" />

    </form>

<%- include("../includes/footer.ejs"); %>