<%- include("../includes/header.ejs", {title:"Champions - " + result[0].name}); %>
    <h1>Champions</h1>
    <ul>
        <li>champion Name: <%= result[0].name %></li>
        <li>Ability(ies):
            <ul>
                <% for(var i=0; result.length > i; i++ ) { %>
                    <li><%= result[i].ability_name + ', ' + result[i].description %></li>
                <% } %>
            </ul>
        </li>
    </ul>

<a href="/champion/all"><< back</a>

<%- include("../includes/footer.ejs"); %>