<html>
    <head>
        <title>Masteries</title>
    </head>
    <body>
        <h1>Masteries</h1>
        <a href="/mastery/add">Add New Mastery</a> <br />

        <br />

        <table border="1">
            <tr><th>Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/mastery/?mastery_id=<%= result[i].mastery_id %>"><%= result[i].page_name %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/mastery/edit2/?mastery_id=<%= result[i].mastery_id %>'">Edit</button>
                    <form action="/mastery/delete/" style="display:inline;">
                        <input type="hidden" name="mastery_id" id="mastery_id" value="<%= result[i].mastery_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
    </body>

</html>