<html>
<head>
    <title>Add New Mastery</title>
</head>
<body>
    <h1>Add New Mastery</h1>
    <form action="/mastery/insert" method="get">
        Page name: <input id="page_name" name="page_name" type="text" />
        <br />
        <br />

        Attached to account_id: <input id="account_id" name="account_id" type="number" />
        <br />
        <br />

        Ferocity: <input id="num_ferocity" name="num_ferocity" type = "number" />
        <br />
        <br />
        Cunning: <input id="num_cunning" name="num_cunning" type = "number" />
        <br />
        <br />
        Resolve: <input id="num_resolve" name="num_resolve" type = "number" />
        <br />
        <br />

    </form>
</body>

</html>